body {font-size:12px;font-family:gulim;background:#333333;}
a {text-decoration:none;color:#000;}
a:hover {color:#666;}

#insbox {margin:100px auto;padding:30px 50px 30px 50px;width:650px;background:#444444;border-radius:7px 7px 7px 7px;}
#insbox h1 {padding:0 0 10px 0;margin:0;font-family:"malgun gothic";font-size:30px;color:#ffffff;border-bottom:#666666 dotted 1px;}
#insbox p {padding:20px 0 10px 0;line-height:170%;font-size:14px;color:#24A3A4;}
#insbox .btm {padding:30px 0 30px 0;margin:20px 0 0 0;text-align:center;border-top:#666666 dotted 1px;}
#insbox .btm .insbtn {padding-bottom:7px;width:200px;height:50px;border:0;background:#FF3405;font-weight:bold;font-size:25px;font-family:"malgun gothic";color:#ffffff;border-radius:7px 7px 7px 7px;}
#insbox .btm .insbtn:hover {cursor:pointer;}
#insbox .btm .perm {width:650px;background:#666666;font-size:12px;}
#insbox .permcheck {line-height:150%;padding:20px;background:#888888;border-radius:5px 5px 5px 5px;}
#insbox .permcheck .input {border:#555555 solid 1px;}
#insbox .permcheck table {width:100%;border:#333333 solid 5px;}
#insbox .permcheck td {padding:5px 10px 5px 10px;}
#insbox .permcheck .td1 {background:#777777;}
#insbox .permcheck .td2 {}
#insbox .permcheck .insbtn {padding-bottom:7px;margin:20px 0 0 210px;width:200px;height:50px;border:0;background:#FF3405;font-weight:bold;font-size:25px;font-family:"malgun gothic";color:#ffffff;border-radius:7px 7px 7px 7px;}
#insbox .permcheck .guide {padding:0 0 10px 0;line-height:140%;color:#000000;font-weight:bold;border-bottom:#000000 solid 1px;}
#insbox .permcheck ul {margin-top:20px;margin-bottom:20px;}


._mobile #insbox {margin:10px auto;padding:10px;width:92%;min-height:440px;}
._mobile #insbox h1 {font-size:25px;line-height:130%;padding:0 0 20px 0;margin:10px 0 15px 0;}
._mobile #insbox p {font-size:12px;padding-top:5px;}
._mobile #insbox .btm .perm {width:100%;}
._mobile #insbox .permcheck .submitbox {text-align:center;}
._mobile #insbox .permcheck .submitbox .insbtn {margin-left:0;}
._mobile #insbox .permcheck ul {color:#efefef;}