<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.and.smartapp">

    <uses-sdk android:maxSdkVersion="24"
        android:targetSdkVersion="22"
        android:minSdkVersion="15"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Join"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Camera"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".NoticeMenu" />
        <activity android:name=".Profile" />
        <activity android:name=".Schedule" />
        <activity android:name=".Notice" />
        <activity android:name=".Graph"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Temp" />
        <activity android:name=".Moi" />
        <activity android:name=".Light" />
        <activity android:name=".Soil" />
        <activity android:name=".Weather"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>