<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vrlab.smartfarm">


    <users-sdk android:minSdkVersion="14"
        android:targetSdkVersion="22"
        android:maxSdkVersion="24"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Join"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".Menu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Camera"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".NoticeMenu"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Schedule"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Notice"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Graph"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Temp"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Moi"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Light"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Soil"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Calendar"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Profile"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".ExToday"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Detail"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".Weather"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>